<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose ="2">
  <test name="Test">
  
  <parameter name="Name" value="Century"></parameter>
   
    <!-- <groups>
    
    <run>
    <include name ="apple"></include>
    
    </run>
    
    </groups> -->
     <classes>
    <!--   <class name="TestNgStudy.OrderExecution"></class>
      <class name="TestNgStudy.PriorityDemo"></class>
      <class name="TestNgStudy.DependencyManagement"></class>
      <class name="TestNgStudy.SkipTestCase"></class> -->
     <!--   <class name="TestNgStudy.Grouping"></class> -->
      <class name="TestNgStudy.Parametarization"></class>
     
        
    </classes>
  </test> 
</suite> 
